.company-profile{
    padding: 10px;
}
.company-profile p{
    text-align: center;
    line-height: 2;
    margin-bottom: 20px;
}
.company-profile p img{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
}
.company-profile p img.title-img{
    height: 50px;
    object-fit: cover;
    margin-bottom: 0!important;
}
